### plotting the uncertainties in qgis

In [ ]:
import numpy as np
import pandas as pd
import os
import pickle
import utm

In [7]:
uncert_df = pd.read_excel("../_DATA/full_with_coordinates.xlsx", index_col=0, usecols=[0, 1, 2, 17])

In [11]:
uncert_df["uncert"] = ""

         Latitude     Longitude     sum uncert
1     44°31'30.0"  138°37'30.0"  100.22
2     54°12'10.0"   119°24'0.0"   99.65
3      62°36'0.0"   155°36'0.0"  100.03
4      61°35'0.0"    146°2'0.0"  100.67
5      68°55'0.0"   164°24'0.0"  100.60
...           ...           ...     ...    ...
4655   66°42'0.0"   164°23'0.0"  100.21
4656  46°56'30.0"    137°5'3.0"  100.25
4657   58°12'0.0"   138°12'0.0"  100.37
4658   60°51'0.0"   147°31'0.0"  100.39
4659   66°19'0.0"   165°30'0.0"  100.25

[4659 rows x 4 columns]

In [22]:
x = uncert_df.loc[(uncert_df['sum'] >= 99.75) & (uncert_df['sum'] < 100.50)]
y1 = uncert_df.loc[(uncert_df['sum'] >= 100.75)]
y2 = uncert_df.loc[(uncert_df['sum'] < 99.50)]
z1 = uncert_df.loc[(uncert_df['sum'] >= 99.5) & (uncert_df['sum'] <99.75)]
z2 = uncert_df.loc[(uncert_df['sum'] >= 100.5) & (uncert_df['sum'] < 100.75)]

In [35]:
x['uncert'] = 1
y1['uncert'] = 3
y2['uncert'] = 3
z1['uncert'] = 2
z2['uncert'] = 2

C:\Users\Sebastian\Anaconda3\envs\main\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Sebastian\Anaconda3\envs\main\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Sebastian\Anaconda3\envs\main\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Sebastian\Anaconda3\envs\main\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Sebastian\Anaconda3\envs\main\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [54]:
un1 = x.append(y1)
un2 = un1.append(y2)
un3 = un2.append(z1)
un = un3.append(z2)

In [55]:
un

         Latitude     Longitude     sum  uncert
1     44°31'30.0"  138°37'30.0"  100.22       1
3      62°36'0.0"   155°36'0.0"  100.03       1
6      50°42'0.0"   113°42'0.0"  100.32       1
7      47°30'0.0"   136°27'0.0"  100.49       1
8      48°14'0.0"   137°28'0.0"  100.01       1
...           ...           ...     ...     ...
4620  45°44'50.0"   136°30'0.0"  100.66       2
4622   66°26'0.0"    176°9'0.0"  100.61       2
4645   69°32'0.0"   150°22'0.0"  100.58       2
4646   45°1'40.0"  136°36'30.0"  100.56       2
4653   60°27'0.0"    150°1'0.0"  100.60       2

[4659 rows x 4 columns]

In [56]:
un.to_excel("../_UNCERTAINTIES/uncertainties.xlsx")